.register-duty-modal .ion-page {
  justify-content: start;
}

.candy-quantity {
  text-align: right;
}

.register-duty-item {
  --inner-padding-end: 0px;
  --padding-start:0px
}

.register-duty-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}