.duty-detail-heading {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid var(--ion-color-light-shade);
  background-color: var(--ion-color-light-tint);
}

.footer-toolbar {
  --background: var(--ion-color-light-tint);
}

.results-table-container {
  padding: 0px 10px 0px 10px;
}