.duty-item {
  --inner-padding-end: 0px;
  --padding-start: 0px;
}

.duty-item-icon {
  background-color: var(--ion-color-light-tint);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  padding: 10px;
}